# dependencies
node_modules

# build output
dist
playground-dist
packages/*/llms.txt
out
*.tgz

# code coverage
coverage
*.lcov

# logs
*.log

# env
.env
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors & IDEs
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
